body {
	padding:0;
	margin:0;
	background-color:#000000;
	overflow:hidden;
}
#map img {
	float:left;
}
#map {
	float:left;
position:absolute !important;
}
.cover {
	width:300px;
	height:300px;
	float:left;
	box-shadow: 0px 0px 5px #000;
	background-color:black;
	display:block;
	position:absolute !important;
	
}
.resize_icon {
	background-image:url("i/icons.png");
    position: absolute;
    right: 0px;
    bottom: 0px;
	width:18px;
	height:18px;
	background-position: -79px -223px;
	background-repeat: no-repeat;
}